* {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	
	
}



h3, h4 {
	color: rgb(255,255,255);
}


img {
	margin: 20px;
	padding: 0;
}


nav {

	margin: 30px;
	

}


nav a {
      text-shadow: 0 0 20.58px rgba(0, 0, 0, 0.77);
      -moz-transform: matrix( 0.77732808175425,0,0,0.77732808175425,0,0);
      -webkit-transform: matrix( 0.77732808175425,0,0,0.77732808175425,0,0);
      -ms-transform: matrix( 0.77732808175425,0,0,0.77732808175425,0,0);
}


a {
	text-decoration: none;
	color: white;
    font-size: 30px;
    letter-spacing: 1.5;
}

a:hover {

	color: rgba(255, 255, 255, .7);
}


a:active {
	color: green;
}


ul {
    list-style-type: none;
    padding: 0;
    color: white;
   
}


p {

	color: white;
}



a img, a p {
	margin: 0 10px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-shadow: 0 0 20.58px rgba(0, 0, 0, 0.77);
    -moz-transform: matrix( 0.77732808175425,0,0,0.77732808175425,0,0);
    -webkit-transform: matrix( 0.77732808175425,0,0,0.77732808175425,0,0);
    -ms-transform: matrix( 0.77732808175425,0,0,0.77732808175425,0,0);
}




span {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 900;
  

}



.logo {
	width: 70%;
}



.container {
	display: flex;
	justify-content: space-between;

	

}


.fade-effect {
	width: 100%;
	background: rgba(0,0,0,.3);
	display: flex;
	justify-content: space-between;
}



.home-page {
	background-image: url(background.jpg);
	background-size: cover;
}



.simple-ingredients {
	background-image: url(simple-ingredients.png);
	background-size: cover;

}



.dinner {
	background-image: url(dinner.png);
	background-size: cover;
}


.section {

	width: 50%;
}


.content {

	margin: 40px;
	width: 50%;

}

.recipe {
	height: 650px;
	overflow: scroll;
	padding: 60px;
	margin: 20px;
	background: rgba(0, 0, 0, .5);
}



.icons {
	display: flex;
	align-items: row;
}












