body {
	max-width: 700px;
	margin: auto;
	text-align: center;
	background-image: linear-gradient(to right, #0797FF, #FF91C4)
   
}

img {
	border: 7px solid #FFFFFF;
	border-radius: 100%;
	display: block;
	margin: auto;
	max-width: 200px;

}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 50px;

}


p {
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
}
.topnav {
	margin: 20px 0 80px 0;
}

.topnav a {
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
	font-size: 20px;
}

.topnav a:hover {
	color: #0797FF;
}

