body {
	width: 900px;
	margin: auto;
	text-align: center;
	background: #bbd3e4;
}

h1 {
	font-size: 40px;
	font-family: 'Barlow', sans-serif;
	color: #fff;    
}

img {
	width: 500px;
}

header {
	background: #8ec3e9;
	padding: 20px;
}

.content {
	background: #fff;
	border: 10px solid #fff;
}

.navbar {
	background: #fff;
	margin-bottom: 20px;
	padding: 10px;

}

.post {
	background: #e89cbda8;
	padding: 10px;
	margin-bottom: 40px;
	font-family: 'Barlow', sans-serif;

}

#yellow {
	background: #ccdbe6;
}

a {
	text-decoration: none;
	font-family: 'Barlow', sans-serif;
	margin: 10px;
	color: #e89cbd;
}

a:hover {
	color: #8ec3e9;
}

.footer {
	background: #fff;
	padding: 10px;
}