* {
	box-sizing: border-box;
}

body {
	font-family: "Source Sans Pro";
	letter-spacing: 1px;
}

body, h1 {
	margin: 0;
}

header {
	background: black;
	color: white;
	overflow: auto;
	padding: 20px;
	border-bottom: 2px solid #f5af59;
}

nav {
	display: flex;
	padding: 20px;

}

h1 {
	text-align: center;
	font-family: "Merriweather";
}

h1 a {
	color: #f5af59;
}

h1 a:hover {
	color: rgba(245, 175, 89, .75);
}

h3 {
	font-family: 'Merriweather', serif;
}

a {
	color: white;
	margin: 20px;
	font-size: 20px;
	text-decoration: none;
}

a:hover {
	color: rgba(255, 255, 255, .75);
}

button {
  background: #C6C6C6;
  border-radius: 5px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  display: block;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px;
  text-transform: uppercase;
  width: 100%;
}

footer {
	background: #000;
	color: #fff;
	padding: 20px;
}

i {
	color: #f5af59;
}

.button {
  background: #f5af59;
  border-radius: 5px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  display: block;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px;
  text-transform: uppercase;
  width: 100%;
}

.nav-left, h1, .nav-right {
	width: calc(100%/3);	
}

.nav-left {
	text-align: left;
	font-family: Oswald;
}

.nav-right {
	text-align: right;
}

.top-paragraph {
	text-align: center;
	font-size: 20px;
	background: #C6C6C6;
	padding: 20px;
	font-family: "Merriweather";
}

.banner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: url(../img/coffee.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px 20px;	
}

.main-card {
	width: 33.33%;
	background: rgba(255, 255, 255, .75);
	padding: 20px 40px;
}

.cards-container {

	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: background 1.5s;
}

.cards {
	width: calc(100%/3);
	padding: 20px;
}

 #taste {
 	border-bottom: 2px solid #f5af59;
 }



@media screen and (max-width: 768px) {

	body {
		margin: 0;
		font-size: 20px;
	}

	nav {
		display: block;
	}

	h1 a {
		font-size: 30px;
		text-align: center;
	}

	.banner {
		display: block;
		padding: 20px;
	}

	.main-card {
		width: 100%;
		padding: 40px;
	}

	.cards-container {

		display: block;
		padding: 20px;
	}

	.cards {

		width: 100%;
		padding: 20px;
	}

	.nav-right, .nav-left {

		display: none;
	}

}



