.container {
	width: 720px;
	background: #fff;
	padding: 10px;
	margin: 10px;
	border-left: solid 6px #dddddd;
	font-family: "Lato";

}

header {
/*	margin-bottom: 54px;*/

}

.people {
	color: #000;
	font-size: 20px;
}

h1 {
	color: #dd0000;
	font-size: 50px;
}

.date {
	font-size: 20px;
	color: #cccccc;
}
img {
	width: 720px;
}



article {
	color: #444444;
	font-family: "Lato"; 
    line-height: 1.5;
}

.red a{
	color: #dd0000;

	
}

.red {
	text-align: right;
}

a {
	font-size: 20px;
	padding-right: 10px;
	color: #dddddd;
	text-decoration: none;
	
}

a:hover {
	color: #000;
}

footer {
	margin-top: 54px;
	color: #dd0000;

}

footer a {
color: #dd0000;

}

#copy-right {
	color: #bbbbbb;
}


hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
